$media-break-points: (
  "small": 575.2px,
  "medium": 767.2px,
  "large": 991.2px,
  "x-large": 1199.2px,
  "xx-large": 1399.2px,
);

.my-container {
  width: 1320px;
  margin: auto;
}
@media screen and (max-width: map-get($media-break-points, xx-large)) {
  .my-container {
    width: 1140px;
    margin: auto;
  }
}

@media screen and (max-width: map-get($media-break-points, x-large)) {
  .my-container {
    width: 960px;
    margin: auto;
  }
}
@media screen and (max-width: map-get($media-break-points, large)) {
  .my-container {
    width: 720px;
    margin: auto;
  }
}
@media screen and (max-width: map-get($media-break-points, medium)) {
  .my-container {
    width: 540px;
    margin: auto;
  }
}

@media screen and (max-width: map-get($media-break-points, small)) {
  .my-container {
    padding: 1rem;
    width: 100%;
    margin: auto;
  }
}

@mixin small-screen {
  @media (max-width: map-get($media-break-points, medium)) {
    @content;
  }
}

@mixin medium-screen {
  @media (max-width: map-get($media-break-points, large)) {
    @content;
  }
}

@mixin large-screen {
  @media (max-width: map-get($media-break-points, x-large)) {
    @content;
  }
}

@mixin x-large-screen {
  @media (max-width: map-get($media-break-points, xx-large)) {
    @content;
  }
}
